<nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-fixed-top">

    <a class="navbar-brand" href="{% url 'home' %}">Yasko Blog</a>

             <form class="navbar-form navbar-left mt-3" role="search" method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search on blog" value="{{ request.GET.q }}" >
                    <span class="input-group-btn">
                        <input class="btn btn-secondary" type="submit" value="Go">
                    </span>
                </div>
             </form>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:index' %}">Blog</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:create' %}">New Post</a>
      </li>
      {% endif %}

         {% if not request.user.is_authenticated %}
        <li><a class="nav-link" href="{% url 'accounts:login' %}"> Login </a></li>
        <li><a class="nav-link" href="{% url 'accounts:register' %}"> Register </a></li>
        {% else %}
        <li><a class="nav-link" href="{% url 'accounts:logout' %}"> Logout </a> </li>
        {% endif %}



      </ul>
  </div>
</nav>