 {% extends 'base.html' %}

 {% block body %}

   <div class="container-fluid">

       {% if request.user.is_authenticated %}
        <h5><b>Welcome, {{ request.user.get_full_name }}</b></h5>
       {% endif %}
        <hr>
       <center>

           <h4> This site was created by Yasin Çalışkan.</h4>
        <hr>
           <img src="media/django.png" class="img-fluid" alt="Responsive image">
           <hr>
        https://github.com/yasincaliskan
           <hr>

       </center>

   </div>
 {% endblock %}